# Directory-based project format:
.idea/
.idea/workspace.xml
**/.idea/workspace.xml

# mac hidden files
.DS_Store
*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

#other
node_modules/
bower_components/
.tmp
.sass-cache
builds/**/images/*
/src/controllers/main.go
vendor
icpscan.config
main
api-go
docs
